<p> Choose Game To Edit</p>   
<%= form_for @copy do |f| %>
  <%= f.collection_select(:game_id, Game.all, :id,:name) %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  
  <%= f.submit 'Edit'%>
<%end%>   